---
import SiteShell from '../../components/SiteShell.astro';
import PostList from '../../components/PostList.astro';
import { posts } from '../../data/blog';

const pageTitle = 'Posts | Duck-kyun Woo';
---

<SiteShell title={pageTitle} description="All posts by Duck-kyun Woo">
  <section class="archive-header">
    <p class="archive-eyebrow">Posts</p>
    <h1>All Posts</h1>
    <p class="archive-description">
      A chronological archive of the writing published on this site.
    </p>
  </section>

  <PostList posts={posts} />
</SiteShell>
